body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

#results {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sentiment.positive {
    color: green;
}

.sentiment.negative {
    color: red;
}

.sentiment.neutral {
    color: blue;
}
